
h1 {
  font-size: 20px;
  text-transform: capitalize;
}

.icon {
  display: block;
}

mat-dialog-content {
  padding: 24px;

  .search {
    width: 100%;
    top: 0;
    position: sticky;
    width: 100%;
    left: 0;
    
    mat-form-field {
      background: #fff;
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding-top: 24px;
      position: relative;
      top: -24px;
      margin-top: -24px;
      ::ng-deep {
        .mat-form-field-flex {
          align-items: center;
        }

        .mat-form-field-infix {
          border: 0;
        }
      }
    }
  }
}

.category {
  margin-bottom: 15px;

  &:last-child {
    margin: 0;
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 15px;
}

.icons  mat-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  color: #555;
}
