:host {
  h1 {
    font-size: 20px;
    text-transform: capitalize;
  }

  .icon {
    padding: 10px;
    display: block;
    width: 60px;
    height: 60px;
    padding: 10px;
  }

  mat-form-field {
    width: 100%;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .icons  mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    display: block;
    overflow: hidden;
    color: #555;
  }
}